.notfound-container {
    text-align: center;
    margin: 50px auto;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    max-width: 600px;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 255, 0, 0.3);
}

.notfound-container h1 {
    font-size: 6rem;
    color: #00ff00;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
}

.notfound-container p {
    font-size: 1.25rem;
    margin: 20px 0;
    color: #fff;
}

.home-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00ff00;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}

.home-link:hover {
    background-color: #005f00;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 255, 0, 0.7);
}

@media (max-width: 768px) {
    .notfound-container h1 {
        font-size: 4rem;
    }
    .notfound-container p {
        font-size: 1rem;
    }
    .home-link {
        padding: 8px 16px;
    }
}
