.product-view {
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: #333;
}

.product-layout {
    display: flex;
    gap: 20px;
    align-items: stretch;
}

@media (max-width: 600px) {
    .product-layout {
        display: block; /* Change to block layout for smaller screens */
        gap: 20px; /* This gap will not have any effect in block layout, but can be kept for consistency */
    }
}

.most-popular-label {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
    font-weight: bold;
    margin-top: 10px;
    font-size: 14px;
    display: inline-block;
}

.product-images {
    flex: 1;
}

.product-images img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    border: 2px solid #000000;
}

.product-details {
    flex: 1;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    padding: 5px;
    border-radius: 5px;
}

.product-details h2 {
    font-size: 2rem;
    margin: 0;
}

.product-details .price {
    font-size: 1.5rem;
    color: #00ff00;
    margin: 5px 0;
}

.product-details .description {
    overflow-y: auto;
    border-radius: 5px;
    color: white;
}

.product-details button {
    width: 100%;
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    border: 1px solid #00ff00;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.product-details button:hover {
    background-color: #00ff00;
    color: #000;
}

.admin-buttons {
    display: flex;
    justify-content: space-between;
}

.admin-buttons > button {
    width: 48%;
}
